body{
  background-color: rgb(146, 0, 154);
}
.App{

}
#to-do-form input{
  background-color: rgb(27,112,137);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  color: azure;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color: aliceblue;
}